/*
https://github.com/bashell-com/microblog.pub/blob/amd64/static/css/BlobMoji.css
*/
@font-face {
  font-family: 'BlobMoji';
  src: local("Blobmoji"),
       url('/static/fonts/BlobMoji/BlobMoji-0000-329f.woff') format('woff');
       unicode-range: U+0000-329f;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BlobMoji';
  src: local("Blobmoji"),
       url('/static/fonts/BlobMoji/BlobMoji-1f000-1f0ff.woff') format('woff');
       unicode-range: U+1f000-1f0ff;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BlobMoji';
  src: local("Blobmoji"),
       url('/static/fonts/BlobMoji/BlobMoji-1f100-1f1ff.woff') format('woff');
       unicode-range: U+1f100-1f1ff;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BlobMoji';
  src: local("Blobmoji"),
       url('/static/fonts/BlobMoji/BlobMoji-1f200-1f2ff.woff') format('woff');
       unicode-range: U+1f200-1f2ff;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BlobMoji';
  src: local("Blobmoji"),
       url('/static/fonts/BlobMoji/BlobMoji-1f300-1f3ff.woff') format('woff');
       unicode-range: U+1f300-1f3ff;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BlobMoji';
  src: local("Blobmoji"),
       url('/static/fonts/BlobMoji/BlobMoji-1f400-1f4ff.woff') format('woff');
       unicode-range: U+1f400-1f4ff;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BlobMoji';
  src: local("Blobmoji"),
       url('/static/fonts/BlobMoji/BlobMoji-1f500-1f5ff.woff') format('woff');
       unicode-range: U+1f500-1f5ff;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BlobMoji';
  src: local("Blobmoji"),
       url('/static/fonts/BlobMoji/BlobMoji-1f600-1f6ff.woff') format('woff');
       unicode-range: U+1f600-1f6ff;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BlobMoji';
  src: local("Blobmoji"),
       url('/static/fonts/BlobMoji/BlobMoji-1f900-1f9ff.woff') format('woff');
       unicode-range: U+1f900-1f9ff;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BlobMoji';
  src: local("Blobmoji"),
       url('/static/fonts/BlobMoji/BlobMoji-e0000-fffff.woff') format('woff');
       unicode-range: U+e0000-fffff;
  font-weight: normal;
  font-style: normal;
}
