@import /static/css/BlobMoji.css;

.note {
  box-shadow: 0 1px 4px hsla(0,0%,0%,.25);
  border: solid 1px #ededed;
  border-radius: 6px;
  padding: 15px 15px 0px;
}

.note .bottom-bar {
  margin: 0px 0px 5px !important;
}

.note .image {
  margin: 5px;
  box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.75);
  border-radius: 3px;
  border: solid lightgrey 1px;
}

.note-box {
  margin-bottom: 20px !important;
}
